<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='CSPs', description='csps description')"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"><i class="fa fa-cogs"></i> Core Service Platforms</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="toolbar" class="btn-group">
                <a href="pages/csp/add.html" th:href="${addCspUrl}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Register CSP</a>
            </div>
            <table id="csp-table" data-toggle="table"
                   th:attr="data-url=${dataCspUrl}"
                   data-cache="false"
                   data-query-params="queryParams"
                   data-pagination="true"
                   data-page-size="5"
                   data-page-list="[5, 10, 25]"
                   data-search="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-toolbar="#toolbar">
                <thead>
                <tr>
                    <th data-field="icon" data-align="center"></th>
                    <th data-field="cspId" data-sortable="true" data-escape="true">CSP Id</th>
                    <th data-field="name" data-sortable="true" data-escape="true">CSP Name</th>
                    <th data-field="domainName" data-sortable="true" data-escape="true">Domain</th>
                    <th data-field="registrationDate" data-sortable="true" data-escape="true">Registered</th>
                    <th data-field="internalIps" data-sortable="false" data-visible="false" class="col-xs-1" data-escape="true">Internal IPs</th>
                    <th data-field="externalIps" data-sortable="false" data-visible="false" class="col-xs-1" data-escape="true">External IPs</th>
                    <th data-field="contacts" data-sortable="true" data-visible="false" class="col-xs-1" data-escape="true">Contacts</th>
                    <th data-field="btn" data-sortable="false" data-align="center" data-escape="true">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="result"></div>
    </div>

</div>


<th:block th:replace="fragments::scripts"></th:block>

<script th:src="@{/webjars/bootstrap3-dialog/1.35.3/dist/js/bootstrap-dialog.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var REMOVE_URL = [[${removeCspUrl}]];
    /*]]>*/
</script>
<script th:src="@{/assets/js/pages/csp/list.js}"></script>

</body>

</html>
