<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Installation', description='dashboard description')"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"><i class="fa fa-cube fa-2x"></i> Installation</h2>
        </div>
    </div>



    <div id="certinfo" class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" method="POST" action="#" id="csp-certs" >

                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <a th:href="${dashboardUrl}" class="save btn btn-default">Cancel</a>
                        <button type="submit" class="save btn btn-success save-certs">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p class="lead pull-left">SSL Certificates</p>
                        <p class="pull-right help-block">(Certificates must be uploaded first!)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="ca_bundle">CA Bundle (.crt):</label>
                            <input id="ca_bundle" name="ca_bundle" type="file" class="file-loading"></input>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="ssl_priv_key">Private SSL Key (.key):</label>
                            <input id="ssl_priv_key" name="ssl_priv_key" type="file" class="file-loading"></input>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="ssl_pub_key">Signed SSL Certificate (.crt):</label>
                            <input id="ssl_pub_key" name="ssl_pub_key" type="file" class="file-loading"></input>
                        </div>
                    </div>
                </div>
            </form>
            <div id="result-certs"></div>
        </div>
    </div>

    <div id="reginfo" class="row">
        <div class="col-md-12">
            <form method="POST" action="#" id="csp-form">
                <input type="hidden" id="files" name="files"></input>
                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <a th:href="${dashboardUrl}" class="save btn btn-default">Cancel</a>
                        <button type="submit" class="save btn btn-success">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p class="lead pull-left">CSP Information</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="csp_id">CSP ID:</label>
                            <input class="form-control uuid" id="csp_id" maxlength="36" name="csp_id" type="text" th:value="${cspId}" readonly="readonly"></input>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="csp_name">Name:</label>
                            <input class="form-control" id="csp_name" name="csp_name" type="text"></input>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="csp_domain_name">Domain Name:</label>
                            <input class="form-control" id="csp_domain_name" name="csp_domain_name" type="text"></input>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p class="lead pull-left">Responsible Contacts</p>
                        <button data-duplicate-remove="contact" class="btn btn-sm btn-danger btn-action pull-right"><i class="fa fa-minus"></i></button>
                        <button data-duplicate-add="contact" class="btn btn-sm btn-success btn-action btn-add pull-right"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="row" data-duplicate="contact" data-duplicate-min="2" data-duplicate-max="10">
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input class="form-control csp_contact_name" name="csp_contact_name[]" type="text"></input>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input class="form-control csp_contact_email" name="csp_contact_email[]" type="text"></input>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label>Type:</label>
                                <div class="form-group input-group">
                                    <select class="form-control csp_contact_type" name="csp_contact_type[]">
                                        <option selected="selected"></option>
                                        <option th:each="contactType : ${csp_contact_types}"
                                                th:value="${contactType.getValue()}"
                                                th:text="${contactType}">
                                        </option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button data-duplicate-remove="contact" class="btn btn-success" type="button"><i class="fa fa-minus"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p class="lead pull-left">Internal IPs</p>
                        <button data-duplicate-remove="int-ip" class="btn btn-sm btn-danger btn-action pull-right"><i class="fa fa-minus"></i></button>
                        <button data-duplicate-add="int-ip" class="btn btn-sm btn-success btn-action pull-right"><i class="fa fa-plus"></i></button>
                        <div class="clearfix"></div>
                        <div data-duplicate="int-ip" class="input-group" data-duplicate-min="1" data-duplicate-max="10">
                            <input type="text" class="form-control ip" name="csp_internal_ip[]"></input>
                            <span class="input-group-btn">
                                <button data-duplicate-remove="int-ip" class="btn btn-success" type="button"><i class="fa fa-minus"></i></button>
                            </span>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <p class="lead pull-left">External IPs</p>
                        <button data-duplicate-remove="ext-ip" class="btn btn-sm btn-danger btn-action pull-right"><i class="fa fa-minus"></i></button>
                        <button data-duplicate-add="ext-ip" class="btn btn-sm btn-success btn-action pull-right"><i class="fa fa-plus"></i></button>
                        <div class="clearfix"></div>
                        <div data-duplicate="ext-ip" class="input-group" data-duplicate-min="1" data-duplicate-max="10">
                            <input type="text" class="form-control ip" name="csp_external_ip[]"></input>
                            <span class="input-group-btn">
                                <button data-duplicate-remove="ext-ip" class="btn btn-success" type="button"><i class="fa fa-minus"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p class="help-block">If host directly exposed, add external IP here also</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p class="lead pull-left">Outgoing Emails</p>
                        <p class="pull-right help-block">(Optional - videobridge support)</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <label for="smtp_host">SMTP Host:</label>
                            <input id="smtp_host" name="smtp_host" type="text" class="form-control"></input>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <label for="smtp_port">SMTP Port:</label>
                            <input id="smtp_port" name="smtp_port" type="text" class="form-control"></input>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <label for="smtp_user">SMTP Username:</label>
                            <input id="smtp_user" name="smtp_user" type="text" class="form-control"></input>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <label for="smtp_pass">SMTP Password:</label>
                            <input id="smtp_pass" name="smtp_pass" type="password" class="form-control"></input>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <a th:href="${dashboardUrl}" class="save btn btn-default">Cancel</a>
                        <button type="submit" class="save btn btn-success">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="result"></div>
                </div>

            </form>
        </div>
    </div>


</div>


<th:block th:replace="fragments::scripts"></th:block>

<script th:src="@{/webjars/jquery-validation/1.16.0/jquery.validate.min.js}"></script>
<script th:src="@{/webjars/jquery-validation/1.16.0/additional-methods.min.js}"></script>
<script th:src="@{/webjars/jquery-mask-plugin/1.14.10/dist/jquery.mask.min.js}"></script>
<script th:src="@{/webjars/bootstrap-checkbox/1.2.5/dist/js/bootstrap-checkbox.min.js}"></script>
<script th:src="@{/webjars/bootstrap-fileinput/4.4.0/js/fileinput.min.js}"></script>
<script th:src="@{/webjars/bootstrap3-dialog/1.35.3/dist/js/bootstrap-dialog.min.js}"></script>

<script th:src="@{/assets/js/vendor/jquery.duplicate.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery.serializeObject.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var POST_URL = [[${cspRegisterApi}]];
    var POSTFILES_URL = [[${cspRegisterFilesApi}]];
    var REDIRECT_URL = [[${dashboardUrl}]];
    /*]]>*/
</script>
<script th:src="@{/assets/js/pages/install.js}"></script>

</body>

</html>
