<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Installation', description='dashboard description')"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"><i class="fa fa-cube fa-2x"></i> Installation</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        <i class="fa fa-thumbs-up"></i> Data entry is complete! Click <a
                            th:href="${dashboardUrl}">here</a> to navigate to the dashboard, or <a th:href="${installSmtpUrl}" href="#">check and modify the <i class="fa fa-envelope"></i> SMTP settings</a>.
                    </p>
                    <p>You may also go to the <a href="#" th:href="${updatesUrl}">Updates page</a> to see updates and
                        installation status.
                        To see the logs go to <a href="#" th:href="${statusUrl}">the system logs</a>.</p>
                </div>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="fragments::scripts"></th:block>


</body>

</html>
