<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<link href="resources/css/font-awesome.min.css" rel="stylesheet" />
<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="resources/css/signin.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" />
<style type="text/css">
.form-register {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        &nbsp;<br /> <br /> <br />
      </div>
    </div>
    <div class="userForm">
      <h4 class="text-center">REGISTER YOUR ACCOUNT</h4>
      <form class="form-register" role="form" th:action="@{/register}" method="post" th:object="${userForm}">
        <div class="form-group">
          <label for="firstName" class="sr-only">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" autofocus="autofocus" th:field="*{firstName}" required="required" />
        </div>

        <div class="form-group">
          <label for="lastName" class="sr-only">Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}" required="required" />
        </div>
        <div class="form-group">
          <label for="timezone" class="sr-only">Timezone</label>
          <select id="timezone" th:field="*{timezone}"></select>
        </div>
        <div class="form-group">
          <label for="email" class="sr-only">Email address</label>
          <input type="email" class="form-control" placeholder="E-mail address" th:field="*{email}" required="required" />
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required="required" />
        </div>
        <div class="form-group">
          <label for="passwordConfirm" class="sr-only">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Confirm password" th:field="*{passwordConfirm}" required="required" />
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <br />
        <div class="text-center">
          <a th:href="@{/login}" class="text-center">Go to Login</a>
        </div>
        <br />
      </form>
    </div>
  </div>
  <script src="/resources/js/jquery-1.10.2.js"></script>
  <script src="resources/js/bootstrap.min.js"></script>
  <script src="/resources/js/moment-with-locales.min.js"></script>
  <script src="/resources/js/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
  <script>
      $(document).ready(function() {
        timezone = moment.tz.names();
        console.log(timezone);
        for (var i = 0; i < timezone.length; i++) {
          $('select').append('<option value="' + timezone[i] + '">' + timezone[i] + '</option>');
        }
        $('#timezone').selectize({
          inputClass : 'form-control selectize-input'
        });
      });
    </script>
</body>
</html>