<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    -->

    <!--Basic configuration-->
    <property name="APP_NAME" value="CSP.ANONYMIZATION"/>
    <property name="LOGS_HOME" value="/var/log/csp/"/>
    <property name="TYPE_EXC" value="exc"/>
    <property name="TYPE_AUD" value="aud"/>
    <property name="HISTORY_EXC" value="1"/>
    <property name="HISTORY_AUD" value="1"/>

    <!--Patterns for console, log files, log format and rolling files-->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="FILE_EXC_LOG_PATTERN" value="${LOGS_HOME}${APP_NAME}-${TYPE_EXC}.log"></property>
    <property name="FILE_AUD_LOG_PATTERN" value="${LOGS_HOME}${APP_NAME}-${TYPE_AUD}.log"></property>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} ${HOSTNAME} ${APP_NAME:-}[${PID:-}]: %msg%n"></property>
    <property name="FILE_EXC_ROLL_PATTERN" value="${LOGS_HOME}${APP_NAME}-${TYPE_EXC}.%d{yyyy-MM-dd}.log"></property>
    <property name="FILE_AUD_ROLL_PATTERN" value="${LOGS_HOME}${APP_NAME}-${TYPE_AUD}.%d{yyyy-MM-dd}.log"></property>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE-EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_EXC_LOG_PATTERN}</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_EXC_ROLL_PATTERN}</fileNamePattern>
            <maxHistory>${HISTORY_EXC}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_AUD_LOG_PATTERN}</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_AUD_ROLL_PATTERN}</fileNamePattern>
            <maxHistory>${HISTORY_AUD}</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="exc-log" level="error" additivity="false">
        <appender-ref ref="FILE-EXCEPTION"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="audit-log" level="info" additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>