<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Error', description='Resource not found')"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"><i class="fa fa-thumbs-o-down"></i> Page not found!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    The page you requested was not found! Please visit <a href="/">Home Page</a> instead.
                </div>
            </div>
        </div>
    </div>

</div>


<th:block th:replace="fragments::scripts"></th:block>

</body>

</html>
