<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Module Versions', description='module versions description')"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"><i class="fa fa-bars"></i> Module Versions of Module: <span th:utext="${moduleData.getName()}"></span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="toolbar" class="btn-group">
                <a th:href="${addModuleVersionsUrl}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Register Module Version</a>
            </div>
            <table id="module-version-table" data-toggle="table"
                   th:attr="data-url=${dataModuleVersionsUrl}"
                   data-cache="false"
                   data-query-params="queryParams"
                   data-pagination="true"
                   data-page-size="5"
                   data-page-list="[5, 10, 25]"
                   data-search="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-toolbar="#toolbar">
                <thead>
                <tr>
                    <th data-field="icon" data-align="center"></th>
                    <th data-field="fullName" data-sortable="true">Full Name</th>
                    <th data-field="version" data-sortable="true" data-align="center">Version</th>
                    <th data-field="releasedOn" data-sortable="true" data-align="center">Released On</th>
                    <th data-field="hash" data-sortable="true" data-visible="false">Hash</th>
                    <th data-field="description" data-sortable="true" data-visible="false">Description</th>
                    <th data-field="btn" data-sortable="false" data-align="center">Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="result"></div>
    </div>

</div>


<th:block th:replace="fragments::scripts"></th:block>

<script th:src="@{/webjars/bootstrap3-dialog/1.35.3/dist/js/bootstrap-dialog.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var REMOVE_URL = [[${removeModuleVersionsUrl}]];
    /*]]>*/
</script>

<script th:src="@{/assets/js/pages/module-version/list.js}"></script>

</body>

</html>
