<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<div class="container" th:fragment="nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="dashboard.html" th:href="@{/dashboard.html}">
            <img src="../static/assets/logo.png" th:src="@{/assets/logo.png}" style="float: left; margin-top: -15px;"/>
        </a>
        <span class="navbar-brand" style="">CSP - Central Configuration Service</span>


    </div>
    <ul class="nav navbar-nav">
        <li class="" th:class="${navHomeClassActive}"><a href="/dashboard.html" th:href="${dashboardUrl}">
            <i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="" th:class="${navCspClassActive}"><a href="/csp/list.html" th:href="${cspListUrl}">
            <i class="fa fa-cogs"></i> CSPs</a>
        </li>
        <li class="" th:class="${navModuleClassActive}"><a href="/module/list.html" th:href="${moduleListUrl}">
            <i class="fa fa-circle-o-notch "></i> Modules</a>
        </li>
    </ul>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <strong>admin</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left">admin</p>
                                    <p class="text-left">
                                        <strong> </strong>
                                    </p>
                                    <p class="text-left small"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-login navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <a href="#" class="btn btn-danger btn-block">Logout</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>
</body>
</html>