<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title, description)">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" th:content="${description}" content="EU CCSPI"/>
    <meta name="author" content=""/>

    <title th:text="${title}">EU CCSPI</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" th:href="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}"/>

    <!-- Bootstrap Table -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/1.9.1-1/bootstrap-table.min.css}"/>


    <!-- Bootstrap Dialog -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap3-dialog/1.35.3/dist/css/bootstrap-dialog.min.css}"/>



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-fileinput/4.4.0/css/fileinput.min.css}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/fav/favicon.ico}"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/assets/fav/apple-touch-icon-144-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/assets/fav/apple-touch-icon-114-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/assets/fav/apple-touch-icon-72-precomposed.png}"/>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" th:href="@{/assets/fav/apple-touch-icon-57-precomposed.png}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{/webjars/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body>

<div class="container" th:fragment="nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img th:src="@{/assets/img/logo.png}" th:title="${gitVersion}" style="float: left; margin-top: -15px;"/>
        </a>
        <span class="navbar-brand" style="">CSP Installation</span>


    </div>
    <ul class="nav navbar-nav">
        <li th:class="${navHomeClassActive}"><a th:href="${dashboardUrl}">
            <i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li th:class="${navInstallClassActive}"><a th:href="${installUrl}">
            <i class="fa fa-cube"></i> Installation</a>
        </li>
        <li th:class="${navUpdatesClassActive}"><a th:href="${updatesUrl}">
            <i class="fa fa-download "></i> Updates</a>
        </li>
        <li th:class="${navSystemClassActive}"><a th:href="${systemUrl}">
            <i class="fa fa-hdd-o "></i> System</a>
        </li>
        <li th:class="${navContactClassActive}"><a th:href="${contactUrl}" target="_blank">
            <i class="fa fa-comment-o "></i> Contact Us</a>
        </li>
    </ul>
</div>


<th:block th:fragment="scripts">
    <!-- jQuery and Bootstrap -->
    <script th:src="@{/webjars/jquery/2.1.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.js}"></script>

    <!-- Bootstrap Table -->
    <script th:src="@{/webjars/bootstrap-table/1.9.1-1/bootstrap-table.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-table/1.9.1-1/locale/bootstrap-table-en-US.min.js}"></script>

    <script th:src="@{/assets/js/custom.js}"></script>
</th:block>


<th:block th:fragment="urls">
    <div class="message-text">
        <p>
            If the installation is complete, the following URLs shall be available:
        </p>
    </div>
    <div th:if="${links != null}" class="container" th:each="index,link : links">

        <div class="row">
            <div class="col-md-2">
                <span th:text="${index}">1</span>
            </div>
            <div class="col-md-8">
                <span th:text="${link.name}">MISP application</span>
            </div>
            <div class="col-md-2">
                <a href="#" th:href="${link.url}">Link</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
