<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Modules', description='modules description')"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"><i class="fa fa-circle-o-notch"></i> Modules</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="toolbar" class="btn-group">
                <a href="pages/module/add.html" th:href="${addModuleUrl}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Register Module</a>
            </div>
            <table data-toggle="table"
                   th:attr="data-url=${dataModuleUrl}"
                   data-cache="false"
                   data-query-params="queryParams"
                   data-pagination="true"
                   data-page-size="5"
                   data-page-list="[5, 10, 25]"
                   data-search="true"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-toolbar="#toolbar">
                <thead>
                <tr>
                    <th data-field="icon" data-align="center"></th>
                    <th data-field="shortName" data-sortable="true">Short Name</th>
                    <th data-field="fullName" data-sortable="true">Full Name</th>
                    <th data-field="version" data-sortable="true">Version</th>
                    <th data-field="released" data-sortable="true">Released</th>
                    <th data-field="isDefault" data-sortable="false" data-visible="false" data-align="center">Default</th>
                    <th data-field="priority" data-sortable="true" data-align="center">Priority</th>
                    <th data-field="hash" data-sortable="true" data-visible="false" class="col-xs-1 wrapped">Hash</th>
                    <th data-field="btn" data-sortable="false" data-align="center"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Hint (demo only)</strong> A Module shall be edited or deleted only if it is not assigned to any CSP, otherwise buttons wont shows and corresponding functionality will be not allowed.
            </div>
        </div>
    </div>

</div>


<th:block th:replace="fragments::scripts"></th:block>
<script th:src="@{/assets/js/pages/modules.js}" src="../static/assets/js/pages/modules.js"></script>

</body>

</html>
