<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title, description)">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" th:content="${description}" content="EU CCSPI"/>
    <meta name="author" content=""/>

    <title th:text="${title}">EU CCSPI</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"
          href="../static/bootstrap/css/bootstrap.min.css"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" th:href="@{/assets/css/ie10-viewport-bug-workaround.css}"
          href="../static/assets/css/ie10-viewport-bug-workaround.css"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/theme/css/jumbotron.css}" href="../static/theme/css/jumbotron.css"/>
    <link rel="stylesheet" th:href="@{/theme/css/custom.css}" href="../static/theme/css/custom.css"/>

    <!-- Bootstrap Table -->
    <link rel="stylesheet" th:href="@{/bootstrap-table/bootstrap-table.css}"
          href="../static/bootstrap-table/bootstrap-table.css"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/ie8-responsive-file-warning.js}" src="../static/assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <script th:src="@{/assets/js/ie-emulation-modes-warning.js}" src="../static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}" href="../static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap-fileinput/css/fileinput.min.css}" href="../static/bootstrap-fileinput/css/fileinput.min.css"/>

    <link rel="shortcut icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container" th:fragment="nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand-icon fa fa-user-secret fa-3x" href="pages/dashboard.html" th:href="@{/}">
            <!--<img src="../static/assets/logo.png" th:src="@{/assets/logo.png}" style="float: left; margin-top: -15px;"/>-->
        </a>
        <span class="navbar-brand" style="">CSP - Anonymization Service</span>


    </div>
    <ul class="nav navbar-nav">
        <li class="" th:class="${navHomeClassActive}"><a href="pages/dashboard.html" th:href="${dashboardUrl}">
            <i class="fa fa-list"></i> Mappings</a>
        </li>
        <li class="" th:class="${navCspClassActive}"><a href="pages/csp/list.html" th:href="${cspListUrl}">
            <i class="fa  fa-gavel"></i> Rulesets</a>
        </li>
        <!--<li class="" th:class="${navModuleClassActive}"><a href="pages/module/list.html" th:href="${moduleListUrl}">
            <i class="fa fa-circle-o-notch "></i> Modules</a>
        </li>-->
    </ul>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <strong>admin</strong>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left">admin</p>
                                    <p class="text-left">
                                        <strong> </strong>
                                    </p>
                                    <p class="text-left small"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-login navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <a href="#" class="btn btn-danger btn-block">Logout</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</div>


<th:block th:fragment="scripts">
    <!-- jQuery and Bootstrap -->
    <script th:src="@{/assets/js/vendor/jquery.min.js}" src="../static/assets/js/vendor/jquery.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../static/bootstrap/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/assets/js/ie10-viewport-bug-workaround.js}" src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Bootstrap Table -->
    <script th:src="@{/bootstrap-table/bootstrap-table.js}" src="../static/bootstrap-table/bootstrap-table.js"></script>
    <script th:src="@{/bootstrap-table/locale/bootstrap-table-en-US.js}"
            src="../static/bootstrap-table/locale/bootstrap-table-en-US.js"></script>

    <script th:src="@{/assets/js/custom.js}" src="../static/assets/js/custom.js"></script>
</th:block>
</body>
</html>
