<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Dashboard', description='dashboard description')"></head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"><i class="fa fa-gavel"></i> Rulesets
            <th:a th:href="${'#'}" th:class="pull-right" th:data-placement="bottom" th:rel="tooltip" th:title="${'help tooltip'}">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </th:a></h2>
        </div>
    </div>
    <div class = "alert alert-success" th:if="${msg}">
        <span th:text="${msg}"></span>
    </div>
    <div class = "alert alert-danger" th:if="${error}">
        <span th:text="${error}"></span>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row" data-duplicate="contact" data-duplicate-min="2" data-duplicate-max="10">
                <div class="row">
                    <form th:action="@{/rulesets/save}" th:object="${ruleset}" method="post" enctype="multipart/form-data">
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="file">File:</label>
                                <input id="file" th:field="*{file}" name="file" type="file" class="file"></input>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea id="description" th:field="*{description}" name="description" type="text" class="form-control custom-control" rows="3" style="resize:none"></textarea>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12 pull-down">
                            <div class="form-group">
                                <button th:href="'rulesets/save'" type="submit" value="Submit" class="save btn btn-primary"><i class="glyphicon glyphicon glyphicon-upload"></i>&nbsp;Import</button>&nbsp;
                                <button type="reset" value="Reset" class="save btn btn-default pull-right">Clear</button>
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-12 pull-down pull-right" style="text-align: right">
                            <div class="form-group">
                                <button type="#" value="Create" class="save btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;Create</button>&nbsp;
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table data-toggle="table" data-page-size="20" data-pagination="true">
                            <thead>
                            <tr>
                                <th><i class="fa  fa-file-code-o"></i></th>
                                <th data-sortable="true" data-sort-name="TCName_sort">Name</th>
                                <th data-sortable="true" data-sort-name="TCName_sort">Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tr th:id="${ruleset.id}" th:each="ruleset,iterStat: ${rulesets}">
                                <td th:text="${iterStat.count}"></td>
                                <td th:text="${ruleset.filename}"></td>
                                <td th:text="${ruleset.description}"></td>
                                <td><a th:href="'#'+${ruleset.id}"  data-toggle="modal" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <a th:href="'/rulesets/'+${ruleset.id}"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                                <!-- Modal -->
                                <div class="modal fade" th:id="${ruleset.id}" aria-labelledby="tiketLabel" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="tiketLabel"><span th:text="Confirm"></span></h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4 class="modal-title" th:id="tiketLabel">Are you sure you want to delete this ruleset ?
                                                </h4>
                                            </div>
                                            <div class="modal-footer">
                                                <a th:href="@{'/ruleset/delete/' + ${ruleset.id}}" class="btn btn-danger pull-left">Delete</a>
                                                <button class="btn btn-default pull-right" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments::scripts"></th:block>
<script th:src="@{/webjars/bootstrap-fileinput/4.2.0/js/fileinput.min.js}"></script>

<script>

    $("#file").fileinput({'showUpload':false, 'showPreview':false, 'hiddenThumbnailContent': true});

</script>
<!--
<script th:src="@{/assets/js/vendor/jquery.validate.min.js}" src="../static/assets/js/vendor/jquery.validate.min.js"></script>
<script th:src="@{/assets/js/vendor/jquery.validate.additional-methods.min.js}" src="../static/assets/js/vendor/jquery.validate.additional-methods.min.js"></script>
<script th:src="@{/assets/js/vendor/jquery.mask.min.js}" src="../static/assets/js/vendor/jquery.mask.min.js"></script>
<script th:src="@{/bootstrap-checkbox/bootstrap-checkbox.min.js}" src="../static/bootstrap-checkbox/bootstrap-checkbox.min.js"></script>
-->



</body>

</html>