<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Update Module Version', description='update module version description')">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div th:replace="fragments::nav"></div>
</nav>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <p>&nbsp;</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"><i class="fa fa-circle-o-notch"></i> Update Module Version</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="#" id="module-version-form" th:object="${moduleVersionData}">
                <!--<input name="csrfmiddlewaretoken" value="zKg9kV2yr6LySN4mmfgaQGBJ6doeTrOw" type="hidden"></input>-->

                <input id="module_version_id" name="module_version_id" type="hidden" th:value="${moduleVersionData.getId()}"></input>
                <input id="module_id" name="module_id" type="hidden" th:value="${moduleVersionData.getModuleId()}"></input>

                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <a th:href="${moduleVersionListUrl}" class="save btn btn-default">Cancel</a>
                        <button type="submit" class="save btn btn-success">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="module_full_name">Full Name:</label>
                            <input class="form-control" id="module_full_name" name="module_full_name" th:value="${moduleVersionData.getFullName()}" type="text"></input>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="form-group">
                            <label for="module_version">Version:</label>
                            <input class="form-control v" id="module_version" maxlength="5" name="module_version" th:value="${moduleVersionData.getVersion()}" type="text"></input>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="module_file">File:</label>
                            <input id="module_file" name="module_file" type="file" class="file-loading"></input>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="module_description">Description:</label>
                            <textarea class="form-control" id="module_description" name="module_description" th:field = "*{description}"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: right">
                        <a th:href="${moduleVersionListUrl}" class="save btn btn-default">Cancel</a>
                        <button type="submit" class="save btn btn-success">Save</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p>&nbsp;</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="result"></div>
                </div>

            </form>
        </div>
    </div>


</div>


<th:block th:replace="fragments::scripts"></th:block>

<script th:src="@{/webjars/jquery-validation/1.16.0/jquery.validate.min.js}"></script>
<script th:src="@{/webjars/jquery-validation/1.16.0/additional-methods.min.js}"></script>
<script th:src="@{/webjars/jquery-mask-plugin/1.14.10/dist/jquery.mask.min.js}"></script>
<script th:src="@{/webjars/bootstrap-fileinput/4.4.0/js/fileinput.min.js}"></script>

<script th:src="@{/assets/js/vendor/jquery.serializeObject.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var POST_URL = [[${moduleVersionUpdateUrl}]];
    var REDIRECT_URL = [[${moduleVersionListUrl}]];
    /*]]>*/
</script>
<script th:src="@{/assets/js/pages/module-version/update.js}"></script>

</body>

</html>
