CSP_NAME={{ csp_name }}

DOMAIN={{ csp_name }}.{{ domain }}
LOCAL_DOMAIN=local.{{ csp_name }}.{{ domain }}

## Postgres
{% for key, value in postgres.items() -%}
POSTGRES_{{ key.upper() }}={{ value }}
{% endfor %}

HOST_IP={{ host_ip }}

## VVBridge
XXXMAILSERVERHOSTXXX={{ mail.host }}
XXXMAILSERVERPORTXXX={{ mail.port }}
XXXMAILUSERNAMEXXX={{ mail.username }}
XXXMAILPASSWORDXXX={{ mail.password }}
XXXMAILSENDERXXX={{ mail.sender }}
XXXMAILSENDERMAILXXX={{ mail.sendermail }}

MAIL_SERVER_HOST={{ mail.host }}
MAIL_SERVER_PORT={{ mail.port }}
MAIL_USERNAME={{ mail.username }}
MAIL_PASSWORD={{ mail.password }}
MAIL_SENDER_NAME={{ mail.sender }}
MAIL_SENDER_EMAIL={{ mail.sendermail }}