{% for service in services %}
## {{ service.docr_name.upper() }}
{% if service.internal_name -%}
{{ service.docr_name.upper() }}_LOCAL_DOMAIN={{ service.internal_name }}.local.{{ csp_name }}.{{ domain }}
{% endif -%}
{% if service.external_name -%}
{{ service.docr_name.upper() }}_DOMAIN={{ service.external_name }}.{{ csp_name }}.{{ domain }}
{{ service.docr_name.upper() }}_CSP_SUBDOMAIN_PREFIX={{ service.external_name }}
{% endif -%}

{{ service.docr_name.upper() }}_DOCR_HOST=csp-{{ service.docr_name }}
{{ service.docr_name.upper() }}_DOCR_PORT={{ service.docr_port }}
{{ service.docr_name.upper() }}_PORT=443
{% for key, value in service.paths.items() -%}
{{ service.docr_name.upper()}}_PATH_{{ key.upper() }}={{ value }}
{% endfor -%}

{% for key, value in service.env_properties.items() -%}
{{ service.docr_name.upper()}}_{{ key.upper() }}={{ value }}
{% endfor -%}
{{ service.docr_name.upper()}}_PROTOCOL=https4-in
{% endfor %}